* {
    font-family: Roboto, sans-serif;
    color: #37352F;
    font-size: 18px;
}

body {
    margin: 0px;
}

/* HEADER */

header {
    background-color: #f8edeb;
    padding: 10px 150px;
}

.logo {
    text-decoration: none;
    font-size: 28px;
    font-weight: bold;
}

/* HERO */

.hero {
    background-color: #f8edeb;
    padding: 100px 150px;
    display: flex;
    align-items: center;
}

h1 {
    font-size: 48px;
    margin: 0px;
}

.hero p {
    margin-bottom: 40px;
}

.github {
    text-decoration: none;
    color: #f8edeb;
    background-color: #37352F;
    padding: 10px 30px;
    border-radius: 30px;
}

.heroimg {
    width: 700px;
    height: auto;
}

/* INFO DIV */

.update,
.learning {
    margin: 50px 150px;
}

h2 {
    font-size: 40px;
}

.update {
    display: flex;
    align-items: center;
    gap: 70px;
}

.updatetext div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.learning {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 70px;
}

.learning h2 {
    text-align: right;
}

.learningtext div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.icon {
    width: 250px;
    height: auto;
}

.learning .icon {
    width: 300px;
    height: auto;
}

.info a {
    text-decoration: none;
    color: #f8edeb;
    background-color: #37352F;
    padding: 10px 30px;
    border-radius: 30px;
    margin: 0px 20px;
}

svg {
    display: block;
}

/* FOOTER */

footer {
    background-color: #f8edeb;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}